<form  class="form-horizotal" role="form" {{action "save" model on="submit"}}> <!-- horizontal form -->
  {{mab-input-label field = model.description displayText="Descricao" size="8"}}
  {{mab-input-label field = model.total displayText="Total" size="4"}}
  <br/>
  <div class="form-group">
    <div class="pull-right" style="margin-top: 20px;">
      {{#link-to "projects.project.execution.stage.expenses" model.stage.id}}<button class="btn btn-default">Cancelar</button>{{/link-to}}
      <button type="submit" class="btn btn-default">Salvar</button>
    </div>
  </div>
</form>
