<div class="row">
  <div class="col-md-2">
    <div class="list-group">
      {{#each model.project.projectStages as |projectStage|}}
        {{#link-to 'company.projects.project.execution.stage.expenses' projectStage.id class="list-group-item"}}{{projectStage.name}}{{/link-to}}
      {{/each}}
    </div>
  </div>
   <div class="col-md-10">
     {{outlet}}
  </div>
</div>
