<div class="row">
  <div class="col-md-2">
    <div class="panel panel-default" style="margin-top: 10px">
      <div class="panel-heading">{{#link-to 'company.projects.project.execution' class='text-decoration: none'}}{{t 'product.basic.commonWords.stages'}}{{/link-to}}</div>
      <!-- <div class="panel-body">
        <p>Selecione etapa para filtrar</p>
      </div> -->
      <div class="list-group">
        {{#each model.project.projectStages as |projectStage|}}
          {{#link-to 'company.projects.project.execution.stage.expenses' projectStage.id class="list-group-item"}}{{projectStage.name}}{{/link-to}}
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-md-10">
     {{outlet}}
  </div>
</div>
