<h1>{{t 'product.basic.commonWords.editTransaction'}}</h1>
{{form-transaction onSave='save'
onCancel='cancel'
purchaseTransaction = model.purchaseTransaction
project = model.project
itemTypes=model.itemTypes
paymentTypes = model.paymentTypes
providers = model.providers}}
