<div class="row">
  <div class="col-md-2">
    <div class="list-group">
      {{#link-to 'administration.units' class="list-group-item"}}{{t 'product.administration.menu.units'}}{{/link-to}}
      {{#link-to 'administration.stages' class="list-group-item"}}{{t 'product.administration.menu.stages'}}{{/link-to}}
    </div>
  </div>
  <div class="col-md-10">
    {{outlet}}
  </div>
</div>
